<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> -->
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <!-- <div class="container-sub">
      <div class="d-flex flex-row-reverse">
        <div class="p-2 ">1</div>
        <div class="p-2 ">2</div>
      </div>
    </div> -->



    <!-- <div class="container"> -->
    <div class="container-fluid">
      <div class = "row">
        <div class="col-sm-6">
        <div class="jumbotron">

          <form action="/" method="post">

            <input name="number" type="text" class="form-control" placeholder="Enter a Flight Number" required>
            <br>
            <button type="submit" class="btn btn-primary" name = "vote" value="single">Submit</button>

          </form>

        </div>
        </div>

        <div class="col-sm-6">
        <div class="jumbotron">
          <form action="/" method="post">

            <input name="first_number" type="text" class="form-control" placeholder="Enter the first flight number" required>
            <br>
            <input name="last_number" type="text" class="form-control" placeholder="Enter the last flight number" required>
            <br>
            <button type="submit" class="btn btn-primary" name = "vote" value="multiple">Submit</button>

          </form>  
        </div>
        </div>



      </div>
      
    </div>




    
 
    <div class="container-fluid">

      <% if(locals.input == true){ %>
      <% for (var i = 0; i< mutipleResult.length; i++){ %>

      <div class="row">
        
        <div class="col-sm-3">
          <div class="well">
            <img src="<%= image[i] %>" class="img-responsive" alt="Responsive image">
          </div>
        </div>

        <div class="col-sm-9">
          <div class="well">
            <!-- <div class="container-sub">
              <div class="d-flex flex-row-reverse">
                <div class="p-2 ">1</div>
                <div class="p-2 ">2</div>
              </div>
            </div> -->
            




            <!-- <div class="d-flex">
              <div class="d-flex justify-content-start">
                <%= flight_number[i] %>
              </div>
              <div class="d-flex justify-content-end">
                <%= launch_date_utc[i] %>
              </div>
            </div> -->
            
            
            
            
            
            <ul class="list-inline">
              
                <li class="text-left" style="font-size:60spx";><span class="li-number">Launch: <%= flight_number[i] %></span></li>
                <li class="pull-right " ><span class="li-time"><%= launch_date_utc[i] %></span></li>
              
            </ul>
            <ul class="list-inline">
             
                <li class="text-left"><span class="li-name"><%= mission_name[i] %></span></li>
            
            </ul>
            <ul class="list-inline">
            
                <li class="text-left">Site: <%= site_name[i] %></li>
                
            
            </ul>
            <ul class="list-inline">
            
              
              <li class="text-left">First Stage: <%= core_serial[i] %></li>
          
          </ul>
          </div>          
        </div>

      </div>
          
      <% } %>
      <% } %>

    </div>
    

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>


